APP_ENV=development
APP_URL=http://localhost:6002

# App
NODE_ENV=local
APP_PORT=6002
APP_NAME=aicp
FE_APP_URL=http://localhost:3000

# Database PostgreSQL
DB_POSTGRE_DATABASE=database
DB_POSTGRE_HOST=db
DB_POSTGRE_USERNAME=username
DB_POSTGRE_PASSWORD=password
DB_POSTGRE_PORT=5432
DB_POSTGRE_SYNCHRONIZE=false
DB_POSTGRE_LOGGING=false

JWT_ACCESS_SECRETKEY=accessToken
JWT_ACCESS_EXPIRES=1d

JWT_REFRESH_SECRETKEY=refreshToken
JWT_REFRESH_EXPIRES=15d

RESET_PASSWORD=resetPassword

BASE_BACKEND_PATH=storage/
STORAGE_LOCATED=LOCAL


#Cronjob
CRON_JOB_STATUS_TIMER =0 */12 * * *


# For Nodemailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465 # Or 465 for SSL
EMAIL_SECURE=true# true for 465, false for 587 with STARTTLS
EMAIL_USER=unihelpdesk11@gmail.com
EMAIL_PASS=unls dugn ccbl etwx
CONTACT_FORM_RECEIVER_EMAIL=ngocnhi.nguyen@stunited.vn


#GEOIP
IPINFO_API_KEY=0d64c21a5457b3

# Gemini AI
GEMINI_API_KEY=AIzaSyCy-jdX715sq_9sUmgS8ywaQzOPuDHC3o4
# Authentication Lockout Settings
MAX_LOGIN_ATTEMPTS=3
LOCKOUT_DURATION_MINUTES=15